html,body{
  min-height: 100%;
   position: relative;
  }

body {
    background-color: rgb(70, 74, 77);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: antiquewhite;
    background-image: url(kicking_ball.png);
    background-repeat: no-repeat;
    background-position: 0% 75%;
    background-attachment: fixed;
    background-size: 40%;
}

#logo {
    width: 75px;
    height: auto;
    display: block;
    float: left;
  }

  .topnav { 
    overflow: hidden;
    background-color: #333;
    display: block;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .topnav a {
    float: right;
    color: #f8eeda;
    text-align: center;
    padding: 35px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
    opacity: 1;
  }

  .topnav a.active {
    background-color: #0061bb;
  }


.The_team {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
}

.The_team p {
    padding: 0px;
    margin: 0px;

}

.The_team h1 {
    padding: 0px;
    font-size: 100px;
    margin-bottom: 0px;
}

.The_team h2 {
    padding: 0px;
    margin: 0px;
}


.The_team img {
    margin-top: 50px;
    width: 150px;
    border: 10px solid black;
    border-radius: 10px;
}

.copyrigthText {
  width: 100%;
  background: #181818;
  padding: 1px;
  padding-right: 0px;
  padding-left: 0px;
  text-align: center;
  font-style: italic;
  
  bottom: 0;
  font-size: 0.5em;

}  
#calendar{
  table-layout: fixed;
  border-collapse: collapse;
  margin-left: auto;
  margin-right:auto;
  
}

#calendar td, #calendar th{
  border:1px solid #ddd;
  padding: 8px;
  width: 20em;
}

#calendar th{
  background-color: #0061bb;
}

#calendar td:hover{
  background-color: rgb(4, 31, 105);
  
}

#match1{
  background-color: rgb(104, 48, 194);
  width: 10em;
}

#match2{
  background-color: rgb(101, 120, 206);
  width: 10em;
}

#match3{
  background-color: rgb(31, 214, 175);
  width: 10em;
}

footer {
  text-align:center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  font-size: 10px;
  height: 150px;
  color: rgb(255, 255, 255);
  bottom: 0;
  width: 100%;
  background: #333;
  
 
  
}
.footer li {
  text-decoration:none;
  list-style:none;
  align-items: center;
  
}
.Via-text{
  margin-top: 50%;
 
  
  


}
.footer li a:link{
 color: red ;
  
 

}

.social a{
  
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 3px;
}
  
  
.social a:hover{
  background: rgb(225, 225, 233);
  
}
.social a .fa{
  color: rgb(0, 0, 0);
  font-size: 3em;
  align-items: center;

}

.footer .footer-bottom{
  background: black;
  color: white;
  height: 20px 20px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0px;
  padding-top:2px;
  font-style: italic;
 
  }